In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np

In [24]:
df = pd.read_csv('/Users/PatrickChen/Desktop/dsi-atx-1-projects-pchen2890/CAPSTONE/zillow_AnB_data.csv')

In [25]:
df.drop("Unnamed: 0",axis=1,inplace=True)
df.drop("propertyType",axis=1,inplace=True)
df.drop("home_type",axis=1,inplace=True)
df.dropna(inplace=True)

In [26]:
df.head()

,prices,zipcodes,tax_year,tax_value,year_built,property_size,home_size,bathrooms,bedrooms,zestimate_amount
0,107.0,78702,2015.0,192439.0,1961.0,6294.0,730.0,1.0,2.0,281162.0
3,44.0,78754,2015.0,187606.0,2010.0,5872.0,1764.0,3.0,3.0,216260.0
4,97.0,78704,2015.0,717736.0,2010.0,6595.0,2147.0,2.0,3.0,749497.0
7,980.0,78704,2015.0,353371.0,1947.0,7884.0,929.0,2.0,3.0,437977.0
11,149.0,78704,2015.0,438041.0,1996.0,6738.0,1531.0,1.0,0.0,520991.0

In [27]:
X = df[df.columns[1:]]
y = df["prices"]

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [28]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

model = lr.fit(X_train,y_train)

predictions = model.predict(X_test)

In [29]:
predictions

array([    75.,    100.,   1099.,     75.,     75.,    400.,    299.,
           75.,    300.,    400.,    300.,    300.,    199.,    400.,
           84.,     35.,     84.,    290.,    100.,    400.,    400.,
        10000.,  10000.,  10000.,     75.,    500.,    100.,    950.,
        10000.,     75.,     35.,     75.,     35.,     35.,    950.,
          595.,    400.,     75.,    400.,     35.,    300.,    449.,
          450.,     45.,     45.,     99.,     75.,     35.,    300.,
           75.,    400.,     85.,    150.,    375.,     60.,    449.,
          450.,    300.])